.elements__button-like {
  background: no-repeat center url("../../../images/likeButton.svg");
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  align-self: center;
  background-size: 100%;
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 1s linear;
  outline: none;

}

.elements__button-like:hover {
  opacity: 0.5;
}
