.popup__photocontainer {
  /*max-width: 75vw;*/
  /*max-height: 75vh;*/
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

