.popup__button-close {
  width: 40px;
  height: 40px;
  background-image: url("../../../images/closeicon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: opacity 1s linear;
  outline: none;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 560px) {
  .popup__button-close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -40px;
  }
}
