.buttons_edit {
  width: 24px;
  height: 24px;
  margin-left: 13px;
  background: no-repeat center url("../../../images/editbutton.svg");
  border: 0;
  padding: 0;
  background-size: 100%;
  cursor: pointer;
  transition: opacity 1s linear;
  outline: none;
  }

@media screen and (max-width: 560px) {
  .buttons_edit {
    width: 17px;
    height: 17px;
    margin-left: 10px;
  }
}
.buttons_edit:hover {
  opacity: 0.6;
}
