.elements__paragraph {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-left: 21px;
  margin-top: 25px;
  margin-bottom: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
}


