.footer__copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:#545454;
  max-width: 318px;
}

@media screen and (max-width: 560px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }

}
