.popup__input {
  margin-left: 36px;
  margin-top: 54px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 562px) {
  .popup__input {
    margin-left: 22px;
  }
}
