.popup__field {
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 5px;
  padding-bottom: 13px;
}
/*.popup__field:nth-of-type(2) {*/
/*  margin-bottom: 48px;*/
/*}*/

@media screen and (max-width: 560px) {
  .popup__field {
    width: 238px;
  }
}
